.thing-form {
    margin: 20px 0;
}
.footer {
    color: white;
    text-align: center;
    padding: 30px 0;
    margin-top: 70px;
    border-top: 1px solid #E5E5E5;
}
.navbar {
    font-family: "Comfortaa", 700;
    box-shadow: 0 3px 5px rgba(0, 0, 0, .4);
}
.navbar-text {
    margin-left: 15px;
}
.navbar-header {
    margin-top: 10px;
}
.navbar-brand {
    border: 2px solid #777;
    height: 30px;
    line-height: 6px;
    padding: 10px 15px;
}

.well {
    box-shadow: -4px 4px 5px rgba(0, 0, 0, .4);
}

.item-input {
    background: rgba(0, 0, 0, .6);
    border: solid 2px white;
    border-radius: 5px;
    color: white;
    display: inline;
    margin: 20px 0;
    padding: 10px;
    transition: border .3s;
    width: 50%;
}

.item-search {
    float: left;
}