ul {
    font-family: "Roboto";
}

.thing-form {
    margin: 20px 0;
}

.footer {
    color: white;
    text-align: center;
    padding: 30px 0;
    margin-top: 70px;
    border-top: 1px solid #E5E5E5;
}

.navbar {
    font-family: "Comfortaa", 700;
    box-shadow: 0 3px 5px rgba(0, 0, 0, .4);

    .navbar-toggle {
        margin-top: 0;
    }
}

.navbar-text {
    margin-left: 15px;
}

.navbar-header {
    margin-top: 10px;
}

.navbar-brand {
    border: 2px solid #777;
    height: 30px;
    line-height: 6px;
    margin-left: 5px;
    padding: 10px 15px;
}

.well {
    @include clearfix;
    animation-duration: .3s;
    animation-iteration-count: 1;
    animation-name: loadInWell;
    animation-timing-function: ease-out;
    box-shadow: -4px 4px 5px rgba(0, 0, 0, .4);
}

.form-control {
    font-family: "Roboto";
    margin: 20px 0;
}

.quantity {
    margin: -25px 0 0;
}

.side-btn {
    margin-left: 8px;
}